h1 {
    background-color: rgba(95, 158, 160, 0.8);
    border-radius: 10px;
    margin-top: 10px;
    text-align: center;
    padding: 5px 5px 5px 5px;
}
main {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
}
.about-content {
    width: 97%;
    height: 97%;
    margin: auto;
}
.values {
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border-radius: 10px;
}
.about-box1 {
    background-image: url(imgs/topic/juni.jpeg);
}
.about-box2 {
    background-image: url(imgs/fuentesmainpic.jpeg);
}
.about-box3 {
    background-image: url(imgs/topic/joloan.jpeg);
}
.about-box4 {
    background-image: url(imgs/topic/lausa.jpeg);
}
.about-box5 {
    background-image: url(imgs/topic/rhen.jpg);
}
.about-box6 {
    background-image: url(imgs/topic/moissan.png);
}
p {
    font-size: 1.3rem;
}